.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}

.modal {
  position: relative;
  margin: 20% 35%;
  max-width: 500px;
}

.image {
  max-width: 500px;
  min-height: 300px;
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
